$white: #ffffff;
$black: #000000;
$gray-black: #333333;
$light-black: #4f4f4f;
$light-gray: #a9a9a9;
$battleship-gray: #828282;
$orange: #f2994a;
$silver: #bdbdbd;
$turquoise: #40e0d0;
$cape-cod: #4e5150;
$bright-blue: #2d9cdb;
$gray: #828282;
$white-smoke: #f2f2f2;
$eucalyptus: #27ae60;
$flamingo: #eb5757;
$vulcan: #100e1d;
$very-light-gray: #e0e0e0;
$yellow: #f2c94c;
